<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsKL3CJGeCCf9TOJxEDU4zO8D_pv7caKg</string>
	<key>GCM_SENDER_ID</key>
	<string>59915215911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esma.FoodOrder</string>
	<key>PROJECT_ID</key>
	<string>foodorder-dc6eb</string>
	<key>STORAGE_BUCKET</key>
	<string>foodorder-dc6eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59915215911:ios:55ef3d91310b6264d11a02</string>
</dict>
</plist>